In [1]:
import pandas as pd
dict={"s_name":["ram","sam","vijay"],
      "s_class":[11,12,11],
      "s_marks":[20,30,34]}
df=pd.DataFrame(dict,index=["a","b","c"])
print(df)

  s_name  s_class  s_marks
a    ram       11       20
b    sam       12       30
c  vijay       11       34

In [11]:
import pandas as pd 
dict={"name":{"r1":"ram","r2":"sam","r3":"vicky"},
      "class":{"r1":11,"r2":12,"r3":11},
      "marks":{"r1":22,"r2":23,"r3":33}}
df=pd.DataFrame(dict)
df.index=[1,2,3]
print(df)

    name  class  marks
1    ram     11     22
2    sam     12     23
3  vicky     11     33

In [14]:
import pandas as pd 
#list of dict
d1={"name":"ram","age":11,"marks":22}
d2={"name":"sam","age":41,"marks":42}
d3={"name":"dam","age":21,"marks":22}
list=[d1,d2,d3]
df=pd.DataFrame(list)
print(df)

  name  age  marks
0  ram   11     22
1  sam   41     42
2  dam   21     22

In [21]:
import pandas as pd 
#dict of series
a=["x","y","z"]
b=[22,33,44]
s1=pd.Series(a)
s2=pd.Series(b)
dict={"name":s1,"age":s2}
df=pd.DataFrame(dict)
df.rename["elements",axis=1]
print(df)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1896922904.py, line 9)